<p style="color: green"><%= notice %></p>

<%= render @client_address %>

<div>
  <%= link_to "Edit this client address", edit_client_address_path(@client_address) %> |

  <%= button_to "Destroy this client address", @client_address, method: :delete %>
</div>
